@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$primary-cyan:hsl(179, 62%, 43%);
$secondary-cyan:hsl(179, 64%, 45%);
$primary-yellow:hsl(71, 73%, 54%);
$neutral-gray:hsl(204, 43%, 93%);
$neutral-blue:hsl(218, 22%, 67%);
$font-size:16px;
$font-regular:400;
$font-bold:700;
$font-family: 'Karla', sans-serif;

